.container {
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

  
  
  .leaderboard-main{
    display: grid;
    grid-template-columns: 0.6fr 0.4fr;
    grid-template-rows: 1fr;
    grid-template-areas: "can1 lb-board";
  }

  .lb-board{
    width: 80%;
    height: 80%;
    background-color: white;
    margin: 1rem;
    grid-area: lb-board;
    box-shadow: 5px 5px 10px 7px rgb(250, 199, 33);
    border-radius: 12px;
  }

  .lb-title{
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: larger;
    color: #e8ecfd;
    background-image: linear-gradient(
      to right,
      #5b7cf9,
      #5274f4,
      #4a6bef,
      #4163e9,
      #375be4
    );
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

  }

  .lb-item-list{
    display: flex;
    flex-direction: column;
    overflow: auto;
  }

  .lb-item{
    display: grid;
    min-height: 50px;
    align-items: center;
    grid-template-areas: "lb-li-name lb-li-bar lb-li-value";
    grid-template-rows: 1fr;
    grid-template-columns: 0.4fr 0.5fr 0.1fr;
    border-bottom:1px solid rgb(206, 201, 186) ;

  }
  .lb-li-name{
    grid-area: lb-li-name;
    justify-self: center;
  }

  .lb-li-score{
    grid-area: lb-li-bar;
    justify-self: center;
    width: 100%;
  }

  .lb-li-value{
    grid-area: lb-li-value;
    justify-self: center;
    padding: 0.2rem;
  }

  .lb-can1{
    grid-area: can1;
    justify-self: center;
  }

.lb-main{
  height: 100%;
  background: #fc9f14;
}


.lb-streaks-main{
  background: rgb(247, 176, 22);
  display: grid;
  grid-template-columns: 0.6fr 0.3fr;
  grid-template-areas: "s-canv s-text";
  grid-template-rows: 1fr;
}

.s-canv{
  grid-area: s-canv;
}

.s-text-main{
 margin-top: 4rem;
  grid-area: s-text;
  font-size: xx-large;
  font-weight: 500;
  color: white;
}


@media only screen and (max-width: 600px){
  .leaderboard-main{
    display: grid;
    grid-template-columns:  1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "can1" "lb-board";
  }

  .lb-can1{
 display: none;
  }
  .lb-board{
    justify-self: center;
    height: 300px;
    max-height: 300px;
    background-color: white;
    margin: 1rem;
    grid-area: lb-board;
    box-shadow: 5px 5px 10px 7px rgb(250, 199, 33);
    border-radius: 12px;
  }

  .lb-streaks-main{
    background: #fc9f14;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "s-canv" "s-text";
    grid-template-rows: 1fr;
  }

  .s-canv{
    display: none;
  }

  .s-text-main{
    margin-top: 4rem;
    justify-self: center;
     grid-area: s-text;
     font-size: xx-large;
     font-weight: 500;
     color: white;
   }

}